@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@{

}
<br />
<br />

<body style="background-image:url('http://s15.postimg.org/pbkva3qjf/img.jpg')">
    <div class="jumbotron">
        <div class="anveshkumar">
            <h2>@ViewData["Title"]</h2>

        </div>

        <div class="media block-update-card">
            <a class="pull-left" href="#">
                <img src="http://s15.postimg.org/tcr5mnrx7/123.jpg" style="float:left" height="300" width="200">
            </a>

            <div class="media-body update-card-body">
                <h1><b style="float:left">Anveshkumar Kolluri</b></h1><br />
                <br /><br /><br /><b>Contact Details</b>
                <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s525272@mail.nwmissouri.edu"> anveshkolluri@gmail.com</a>
                <br />
                <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
                <br>
                <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Applied Computer Science </a>
                <br />
                <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>


            </div>
            <div style="float:left">

                <h2>Network</h2>


                <img src="http://s29.postimg.org/j5jbm2g6b/Blog_48.png" border="0"><a href="https://about.me/anveshkolluri">Blog</a>
                <img src="http://s29.postimg.org/74xvlc8rn/Twitter_48.png" border="0"><a href="https://twitter.com/anveshkolluri93">Twitter</a>
                <img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"><a href="https://www.linkedin.com/in/anvesh-kolluri-7b0a347a?trk=hp-identity-name">LinkedIn</a>
                <img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"><a href="https://www.facebook.com/anveshkolluri93">Facebook</a>



            </div>
        </div>


    </div>
</body>