@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <h2 class="page-header">
                About
                <small>Our APP</small>
            </h2>
            <div class="row">

                <div >
                    <p>Descryptionnn!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
                    <p>Descryptionnn!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Descryptionnn!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Descryptionnn!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>


                </div>
            </div>
         
            
        </div>
    </div>
    
   
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">About <small>Our Team</small></h2>
        </div>
    
            <div class="col-sm-4">

                <img src="~/images/anvesh.jpg" class="img-responsive">
                <h3>
                    Anveshkumar Kolluri
                    <small>ROLE1</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <a href="mailto:s525272@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/anvesh-kolluri-7b0a347a?trk=hp-identity-name"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/anveshkolluri93"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>
                
            </div>
            <div class="col-sm-4">
                <img src="~/images/naresh.jpg" class="img-responsive">
                <h3>
                    Manindra Naresh Kumar
                    <small>Role2</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <a href="mailto:s525060@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href=""https://www.linkedin.com/in/manindra-naresh-9683086b"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/manindra.naresh"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

                
            </div>
            <div class="col-sm-4">
                <img src="~/images/Raihan.jpg" class="img-responsive">
                <h3>
                    Raihan Ahmed
                    <small>Job Title</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <a href="mailto:s525248@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/mraihanahmed"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/raihan.ahmed.9083"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

            </div>
            <div class="col-sm-4">
                <img src="~/images/Sai.jpg" class="img-responsive">
                <h3>
                    Sigh Krihsh-nah(iswar)
                    <small>Role3</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <a href="mailto:s522570@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/Saikrishna.ch"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

              
            </div>
            <div class="col-sm-4">
                <img src="~/images/chandu.png" class="img-responsive">
                <h3>
                    Chandrakanth Podishetty
                    <small>Job Title</small>
                </h3>
                <p>roles descrptn________________________________________--</p>
                <a href="mailto:s522612@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/chandrakanth-podishetty/"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/chandu.podisetty"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

              
            </div>
            <div class="col-sm-4">
                <img src="~/images/jagad.jpg" class="img-responsive">
                <h3>
                    Jagadeesh Babu Basimsetty 
                    <small>Role</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <a href="mailto:s522563@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/JagadeeshBasimsetty"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/jb.jagadeesh"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

                    
            </div>
          
    </div>

    
    