@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <h2 class="page-header">
                About
                <small>Our APP</small>
            </h2>
            <div class="row">

                <div >
                    <p> <h4> Registering for the classes is an important aspect which every student is supposed to do, before the classes are commenced. We try to make it convenient for the students to make their choices and aid them in enrolling for the classes considering all the time constraints.</h4></p>
                    
                    <p><h4>
                        Generally, during the course registration at the start of a semester students consider many possible options like the subject they are interested in, the professor they want, the time at which the classes are available and most importantly does the classes clash with one another if they are scheduled at the same time?  Students try to address and solve these problems by taking a paper and writing our priorities down and then finding the best possible schedule which they can enroll in.
                 </h4>   </p>
                    <p><h4>
                        Traditionally, students create three or more plans for it. Sometimes there might be only 2 or 3 possible plans available to choose from. Our application aims to aid the students and make it simpler to choose from all the available timings, by creating possible plans. The student just needs to enter the days and timings of your classes and the name of the professors they are interested in and their priorities. The plan with no clashes will be made available to the student. We also try to depict the available schedules in various forms to make it easy for the students to understand and use the resources according to their convenience.
                   </h4> </p>

                </div>
            </div>
         
            
        </div>
    </div>
    
   
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">About <small>Our Team</small></h2>
        </div>
    
            <div class="col-sm-4">

                <img src="~/images/anvesh.jpg" class="img-responsive">
                <h3>
                    Anveshkumar Kolluri
                    <small>ROLE1</small>
                </h3>
                <p>Issues Lead &amp; Repo Admin</p>
                <a href="mailto:s525272@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/anvesh-kolluri-7b0a347a?trk=hp-identity-name" target="_blank"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/anveshkolluri93" target="_blank"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>
                
            </div>
            <div class="col-sm-4">
                <img src="~/images/naresh.jpg" class="img-responsive">
                <h3>
                    Manindra Naresh Kumar
                    <small></small>
                </h3>
                <p>Controller &amp; routing lead</p>
                <a href="mailto:s525060@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/manindra-naresh-9683086b" target="_blank" ><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/manindra.naresh" target="_blank"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

                
            </div>
            <div class="col-sm-4">
                <img src="~/images/Raihan.jpg" class="img-responsive">
                <h3>
                    Raihan Ahmed
                    <small>Job Title</small>
                </h3>
                <p>Project Planning & Reporting &amp; Presentation Lead </p>
                <a href="mailto:s525248@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/mraihanahmed" target="_blank"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/raihan.ahmed.9083" target="_blank"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

            </div>
        <br />
            <div class="col-sm-4">
                <img src="~/images/Sai.jpg" class="img-responsive">
                <h3>
                    Sigh Krihsh-nah(iswar)
                    <small>Role3</small>
                </h3>
                <p>Presentation Lead &amp; Documentation Lead </p>
                <a href="mailto:s522570@mail.nwmissouri.edu" ><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/" target="_blank"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/Saikrishna.ch" target="_blank"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

              
            </div>
            <div class="col-sm-4">
                <img src="~/images/chandu.jpg" class="img-responsive">
                <h3>
                    Chandrakanth Podishetty
                    <small>Role</small>
                </h3>
                <p>Views and views model &amp; Testing Lead</p>
                <a href="mailto:s522612@mail.nwmissouri.edu"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/chandrakanth-podishetty/" target="_blank"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/chandu.podisetty" target="_blank"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

              
            </div>
            <div class="col-sm-4">
                <img src="~/images/jagad.jpg" class="img-responsive">
                <h3>
                    Jagadeesh Babu Basimsetty 
                    <small>Role</small>
                </h3>
                <p>Models & Persistence Lead &amp; Testing Lead</p>
                <a href="mailto:s522563@mail.nwmissouri.edu" target="_blank"><img src="~/images/opened4.png" border="0"></a>
                <a href="https://www.linkedin.com/in/JagadeeshBasimsetty" target="_blank"><img src="http://s29.postimg.org/95jtsffj7/Linked_In_48.png" border="0"></a>
                <a href="https://www.facebook.com/jb.jagadeesh" target="_blank"><img src="http://s29.postimg.org/3vev14vab/Facebook_48.png" border="0"></a>

                    
            </div>
          
    </div>

    
    </div>