@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide">
  
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://s30.postimg.org/d6vx0hmpd/images.jpg');"></div>
            <div class="carousel-caption">

                <h1></h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://s30.postimg.org/sebwkuek1/Intenttoregister_675x274.jpg');"></div>
            
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://s30.postimg.org/jusin367l/images_1.jpg');"></div>
            

             
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>


<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12"><h2>Register for your term</h2>
                <h3>With just one click</h3>
                
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->
