@model Team01_Project01.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Schedule</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CoursesId" class="control-label col-md-2">CoursesId</label>
            <div class="col-md-10">
                <select asp-for="CoursesId" class="form-control" />
                <span asp-validation-for="CoursesId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FacultyId" class="control-label col-md-2">FacultyId</label>
            <div class="col-md-10">
                <select asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LocationId" class="control-label col-md-2">LocationId</label>
            <div class="col-md-10">
                <select asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
